.gamepad {
	max-width: 400px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.gamepad .button {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 50%;
	width: 2em;
	height: 2em;
}

.gamepad .main-cluster .button {
	transform: rotate(-45deg);
}

.gamepad .button{
	background: rgba(255,0,0,var(--pressed));
}

.main-cluster {
	display: flex;
	width: 4em;
	flex-wrap: wrap;
	transform: rotate(45deg);
}

.mid-buttons {
	display: flex;
	justify-content: space-around;
}

.shoulder-buttons,
.main-buttons,
.sticks {
	display: flex;
	justify-content: space-around;
}

.gamepad .joystick {
	border: 1px solid black;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
}

.gamepad .joystick:after {
	position: absolute;
	z-index: 1;
	left: calc( calc(var(--x) * 50%) + 50%);
	top: calc( calc(var(--y) * 50%) + 50%);
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 50%;
	content: ' ';
	width: 3px;
	height: 3px;
}

.gamepad .joystick:before {
	position: absolute;
	left: calc( calc(var(--xAdjust) * 50%) + 50%);
	top: calc( calc(var(--yAdjust) * 50%) + 50%);
	transform: translate(-50%, -50%);
	border: 2px solid white;
	background-color: red;
	border-radius: 50%;
	content: ' ';
	width: 5px;
	height: 5px;
}
