body {
	flex-direction: column;
	display:        flex;
	overflow-y:     scroll;
}

.navigation {
	flex-shrink: 0;
	min-width: 10rem;
	font-weight: bold;
}

.content {
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header a {
	color: white;
	text-decoration: none;
}


.header ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header ul li{
	margin-left: 1em;
	white-space: nowrap;
}

.layout {
	flex-direction: row;
	flex-grow:      1;
	display:        flex;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 4em;
	margin-bottom: 4em;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.start {
	justify-content: flex-start;
}

.end {
	justify-content: flex-end;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

pre.wrap {
	white-space: pre-wrap;
}

.wrap {
	flex-wrap: wrap;
}
/*
.row > *:not(:first-child):not(:last-child) {
	background: transparent;
	overflow:   auto;
	flex:       var(--flex);
}
*/
.full > .content {
	width: 100%;
	max-width: 880px;
}

.col.full {
	flex: 1;
}

.row .half {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	position: relative;
}

.row.editors {
	flex: 1;
}

.row .half {
	flex: 1;
}

.row .half:empty {
	flex: 0;
}
