body {
	flex-direction: column;
	display:        flex;
}

.layout {
	flex-direction: row;
	flex-grow:      1;
	display:        flex;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.wrap {
	flex-wrap: wrap;
}
/*
.row > *:not(:first-child):not(:last-child) {
	background: transparent;
	overflow:   auto;
	flex:       var(--flex);
}
*/
.full {
	width: 100%;
}

.row .half {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	position: relative;
}

.row.editors {
	flex: 1;
}

.row .half {
	flex: 1;
}

.row .half:empty {
	flex: 0;
}
