html, body {
	min-height: 100%;
	margin: 0rem;
}

.content > * {
	margin-top:    0.5em;
	margin-bottom: 0.5em;
}

.content > h2:not(:first-child) {
	margin-top: 1.5em;
}

.content > h3 {
	margin-top: 1em;
}

p, h3, h4, h5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.content > pre,
.content > p {
	/*margin-top: 0px;*/
	/*margin-bottom: 0px;*/
}

ul,ol {
	padding-inline-start: 2rem;
}

fieldset {
	display: flex;
	margin: 0px;
}

iframe {
	flex: 1;
	border: 0px;
	background-color: #FFF;
	min-width: 100%;
}

.dcontent {
	display: contents;
}
