.navigation {
	min-width: 10rem;
}

h1 {
	padding: 1rem;
	margin: 0px;
	background-color: black;
	color: white;
}

.content {
	padding: 1rem;
	flex-grow: 1;
}

html {
	font-family: "Lucida Console";
}
