<div class = "header">
	<div class = "title">
		<h1><a cv-link = "/">curvature</a></h1>
	</div>
	<div class = "menu">
		<ul>
			<li><a cv-link = "https://github.com/seanmorris/curvature-2">source</a></li>
			<li><a cv-link = "https://www.npmjs.com/package/curvature">npm</a></li>
			<li><a cv-link = "https://unpkg.com/curvature/">unpackage</a></li>
			<li><a cv-link = "/license">license</a></li>
			<li><a cv-link = "/about-sean">sean morris</a></li>
			<li><a cv-link = "/about-sean"><img src = "player-head.png"></a></li>
		</ul>
	</div>
</div>
<div class = "layout">
	<div class = "navigation">
		<ul>
			<li>navigation
				<ul>
					<li><a cv-link = "/">home</a></li>
					<li><a cv-link = "/about-sean">about the dev</a></li>
					<li><a cv-link = "/license">license</a></li>
				</ul>
			</li>

			<li>base
				<ul>
					<li><a cv-link = "/bindables">bindable</a></li>
					<li><a cv-link = "/config">config</a></li>
					<li><a cv-link = "/mixin">mixin</a></li>
					<li><a cv-link = "/routes">router</a></li>
					<li><a cv-link = "/rules">rule</a></li>
					<li><a cv-link = "/themes">theme</a></li>
					<li><a cv-link = "/views">view</a></li>
					<!-- <li>3d</li> -->
				</ul>
			</li>

			<li>data
				<ul>
					<li><a cv-link = "/cookies">cookies</a></li>
					<li><a cv-link = "/models">database</a></li>
					<li><a cv-link = "/forms">forms</a></li>
				</ul>
			</li>

			<li>input
				<ul>
					<li><a cv-link = "/gamepad">gamepad</a></li>
					<li><a cv-link = "/keyboard">keyboard</a></li>
					<li><a cv-link = "/mouse">mouse</a></li>
				</ul>
			</li>

			<li>graphics
				<ul>
					<li><a cv-link = "/svg">svg</a></li>
					<li>effects</li>
					<li>tiles</li>
				</ul>
			</li>

			<li>audio
				<ul>
					<li>sfx</li>
					<li>bgm</li>
					<li>cpu</li>
				</ul>
			</li>

			<li>network
				<ul>
					<li>basic ajax</li>
					<li>event sources</li>
					<li>websockets</li>
					<li>peer to peer</li>
					<!-- <li><a cv-link = "/matrix-api">matrix api</a></li> -->
				</ul>
			</li>

			<!-- <li>extras
				<ul>
					<li><a cv-link = "/cv-markdown">cv2-markdown</a></li>
					<li><a cv-link = "/cv-markdown">cv2-documentor</a></li>
					<li><a cv-link = "/cv-markdown">cv3-inject</a></li>
					<li><a cv-link = "/cv-markdown">cv-stringtools</a></li>
				</ul>
			</li> -->
<!--
			<li>binding:
				<ul>
					<li><a cv-link = "/scalars">Scalars</a></li>
					<li><a cv-link = "/arrays">Arrays</a></li>
					<li><a cv-link = "/objects">Objects</a></li>
					<li><a cv-link = "/chains">Chain Binding</a></li>
				</ul>
			</li> -->

			<li>experiments:
				<ul>
					<li><a cv-link = "/infinite-scroll">scrollers</a></li>
					<!-- <li><a cv-link = "/html-editor">html editor</a></li> -->
					<li><a cv-link = "/grid-resizer">grid resizer</a></li>
					<li><a x = "/console-proxy">console proxy</a></li>
					<li><a x = "/terminal">terminal</a></li>
					<li><a cv-link = "/php">php (really)</a></li>
				</ul>
			</li>

	<!-- 		<li>projects:
				<ul>
					<li><a cv-link = "/nynex95">nynex 95</a></li>
					<li><a cv-link = "/subspace">tigl-2d</a></li>
					<li><a cv-link = "/subspace">subspace</a></li>
				</ul>
			</li> -->

		</ul>
	</div>

	<div class = "col full">

		<div class = "row full">
			<div class = "content">[[content]]</div>
			<!-- <div class = "right-bar"></div> -->
		</div>

		<div class = "footer">
			<span>&copy 2017 - 2021 Sean Morris.</span>
		</div>

	</div>

</div>
