<h1>cv2</h1>
<div class = "layout">
	<div class = "navigation">
		<ul>
			<li>Components
				<ul>
					<li><a cv-link = "/views">Views</a></li>
					<li cv-link = "/forms">Forms</li>
					<li cv-link = "/rules">Rules</li>
					<li cv-link = "/models">Models</li>
					<li cv-link = "/routes">Routes</li>
					<li><a cv-link = "/themes">Themes</a></li>
				</ul>
			</li>

			<li>Binding:
				<ul>
					<li><a cv-link = "/scalars">Scalars</a></li>
					<li><a cv-link = "/arrays">Arrays</a></li>
					<li><a cv-link = "/objects">Objects</a></li>
					<li><a cv-link = "/chains">Chain Binding</a></li>
				</ul>
			</li>

			<li>Integrations:
				<ul>
					<li><a cv-link = "/presskit">PressKit</a></li>
					<li><a cv-link = "/eventi">Eventi</a></li>
					<li><a cv-link = "/subspace">Tigl-2d</a></li>
					<li><a cv-link = "/subspace">Subspace</a></li>
					<li><a cv-link = "/cv-markdown">cv-Markdown</a></li>
				</ul>
			</li>

			<li>Experiments:
				<ul>
					<li><a cv-link = "/infinite-scroll">Infinite Scroll</a></li>
				</ul>
			</li>

		</ul>
	</div>

	<div class = "content">[[content]]</div>

	<div></div>

</div>
