.scroller {
	width: 100%;
	height: 400px;
	margin-right: auto;
	border: 1px solid #888;
}

.views.scroller > div > div:not([data-tag=shim]) {
	white-space: nowrap;
}

.wide {
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
	padding: 0em;
}

.wide > .wide:not(:last-child) {
	padding-right: 1em;
}

.scroller .table .table-row {
	width: 100%;
}

.grid.scroller .table .table-row {
	box-sizing: border-box;
}

.grid.scroller .table .table-row div {
	padding: 0.5em;
}

.grid.scroller .table .table-row div:nth-child(n+3) {
	justify-content: flex-end;
}

.grid.scroller .table .table-row div:nth-child(5) {
	justify-content: center;
}

.grid.scroller .table .table-row div span {
	display: contents;
}

.scroller .table .table-row div input {
	display: block;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	box-sizing: border-box;
	background: transparent;
	border: 0px;
}

.scroller .table .table-row div input:not(:placeholder-shown) {
	text-decoration: underline;
}

.scroller input {
	border: 1px solid #666;
}

.scroller input:focus {
	outline: none;
	border: 1px solid black;
}

.grid.scroller .table .table-row div:not(:last-child) {
	border-right: 1px solid #888;
}

.grid.scroller .table .table-row:not(:last-child) {
	border-bottom: 1px solid black;
}

.grid.scroller .table .table-row:not(.is-header) > div {
	font-size: 12pt;
}

.grid.scroller .table .table-row div {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.scroller > div:focus {
	outline: 1px dotted black;
	outline-offset: 1px;
}

.grid.scroller .table .table-row.is-header {
	background-color: #AAA;
	z-index: 1;
	transform: none !important;

}

.line-up > div {
	display: flex;
	flex-direction: column;
}

.line-up > div > :last-child {
	margin-top: auto;
}

.cv-hyperscroller-row {
	width: 100%;
	box-sizing: border-box;
}

.simple.scroller .cv-hyperscroller-row {
	text-align: center;
}

.views.scroller .cv-hyperscroller-row {
	display: flex;
	font-size: 10pt;
}

.views.scroller .cv-hyperscroller-row i {
	padding-right: 1em;
	text-align: right;
	min-width: 3em;
}

.views.scroller .cv-hyperscroller-row .input div {
	padding: 1px;
}

.views.scroller .cv-hyperscroller-row input {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	font-size: 10pt;
}

div.list-preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.table-scrollable {
	width: 100%;
	height: 100%;
}

div.table-scrollable table {
	overflow: visible;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-spacing: 0;
}

div.table-scrollable thead {

}

div.table-row.is-header {
	position: sticky !important;
	top: 0 !important;
	transform: none !important;
}

div.table-row {
	display: flex;
}

div.table-row > * {
	flex: 1;
}

div.table-row > *:first-child {
	flex: 0 1 4em;
}

div.table-row > *:last-child {
	flex: 3;
}

.lonebar-value {
	border: 1px solid #888;
	margin: 0.25em;
	padding: 0.25em;
	width: 4em;
	text-align: center;
}
