.models-demo input {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #BBB;
	border-bottom: 1px solid black !important;
	width: 0;
	flex: 1;
}

.models-demo pre{
	line-height: 1.5em;
}

.models-demo [contenteditable]:focus {
	outline: none;	
}

.prop-remove {
	cursor: pointer;
}

.remove-id, .remove-class {
	opacity: 0.5;
	cursor: not-allowed;
}

.model-editor {
	border: 1px solid black;
	display: inline-block;
	width: 207px;
}

.model-editor .model-editor-title {
	background: black;
	color: white;
	font-weight: bold;
	font-size: 0.85em;
}

.model-editor button {
	background: black;
	color: white;
}

.model-editor .property-edit {
	display: flex;
}

.model-editor .property-edit > * {
	
}

.model-editor .model-editor-eyebrow {
	font-size: 0.8em;
	padding: 0.5em;
}

.model-editor .new-property {
	display: flex;
	justify-content: center;
}

.model-editor input {
	flex: 1;
}

.model-editor button {
	cursor: pointer;
	font-weight: bold;
}

.model-editor button.tight {
	border-bottom: 1px solid black;
}

.model-editor button:not(.tight) {
	padding: 8pt;	
}

.model-editor input,
.model-editor button {
	margin: 0px;
	border: none;
}

.model-editor pre {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.models-demo .row {
	justify-content: flex-start;
}

.models-demo .row > * {
	margin-right: 1em;
}
