.no-scroll {
	overflow: hidden !important;
}

.status {
	padding: 0.25em;
	user-select: none;
	justify-content: flex-end;
	font-size: 0.75em;
}

.row.tabs, .status {
	justify-content: flex-start;
	margin-bottom: 0em;
}

.tabs .tab {
	margin-top: auto;
}

.row.status, .editors {
	margin-top: -1px !important;
	margin-bottom: 0em !important;
	border: 1px solid #555;
	box-sizing: border-box;
}

.status button {
	font-weight: bold;
	border: none;
	padding: 0.5em;
	margin-left: 0.5em;
	width: 2.5em;
	height: 2.5em;
	box-sizing: border-box;
}

.editors > * {
	flex: 1;
}

.editors p {
	font-size: 0.75em;
	user-select: none;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0.5em;
}

.status .refresh-disabled > * {
	opacity: 0.25;
	pointer-events: none;
}

.status .refresh-enabled > * {
	opacity: 1;
	pointer-events: initial;
}

.editors textarea {
	position: relative;
	resize: none;
	width: 100%;
	height: 100%;
	background-color: #112;
	color: white;
	font-size: 0.9em;
}

.editors .editor {
	flex: 1;
}

.half .box,
.half .result {
	position: relative;
	flex: 1;
}

.half .box .editor,
.half .result iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%
}

.editor-window {
	display: flex;
	flex-direction: column;
	resize: vertical;
	overflow: auto;
	width: 44em;
	min-height: 30em;
}

.editor-window {
	font-family: sans-serif;
	width: 100%;
}

.editor-window .buttons {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	z-index: 100;
	position: absolute;
	top: 0em;
	right: 0em;
	display: flex;
	user-select: none;
	height: 1.75em;
	padding-right: 0.2em;
	right: 0em;
	color: white;
	pointer-events: none;
}

.editor-window.expanded {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 100% !important;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
}

.editor-window .buttons .button {
	width: 1.25em;
	height: 1.25em;
	padding-left: 0.25em;
}

.buttons .label{
	background-color: black;
	position: absolute;
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin-right: 0.25em;
	right: 100%;
	font-size: 0.8rem;
	line-height: 1.3rem;
	opacity: 0;
}

.buttons [data-icon]{
	pointer-events: initial;
	cursor: pointer;
}

.button:hover .label {
}
.button:hover .label {
	opacity: 0.95;
}

[data-icon] {
	color: #CCC;
	background-color: #999;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1.25em;
	height: 1.25em;
	opacity: 0.75;
	right: 0.25em;
}

.editor-window[data-orientation="horizontal"] .row.editors {
	flex-direction: column !important;
}

.editor-window ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.editor-window ::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
}

.editor-window ::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 1px;
}

.editor-window ::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	background-color: rgba(128,128,128,1);
	border-radius: 10px;
	position: absolute;
	z-index: 100;
}

.ace_scrollbar-v {
	width: 6px !important;
	height: 100%;
}


.ace_scrollbar-h {
	height: 6px !important;
}

.expanded .tabs {
	color: white;
	background-color: black;
}

.tabs .tab {
	user-select: none;
	cursor: pointer;
	min-width: 3.6em;
	text-align: center;
	border: 1px solid #555;
	margin-right: -1px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	color: #BBB;
	background-color: #777;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-size: 0.8em;
	text-shadow: 1px 1px 2px black;
}

.tab.active {
	font-weight: bold;
	color: #FFF;
	background-color: #383838;
}

.tab:not(.active):hover {
	background-color: #444;
}

.status, .editors {
	border: 1px solid #555;
	position: relative;
}

.row.status {
	border-top: 1px solid #000;
	background-color: #333;
	color: white;
	user-select: none;
	justify-content: flex-end;
}

.status button {
	color: #333;
	font-weight: bold;
	background-color: #FFF;
	border: none;
}

.status button:active {
	background-color: #888;
	color: #FFF;
}

.editors.showSplit > *:not(:last-child) {
	border-right: #000 1px solid;
}

.editors p {
	text-shadow: 1px 1px 2px black;
	background-color: #333;
	color: white;
	border-bottom: 1px solid #000;
	border-top: 1px solid #999;
	font-weight: bold;
}

.editors textarea {
	border: none;
	box-sizing: border-box;
}

.editors .half {
	border-left: 1px solid #000;
	margin-left: -1px;
}

.status .refresh-disabled > * {
	opacity: 0.25;
	pointer-events: none;
}

.status .refresh-enabled > * {
	opacity: 1;
	pointer-events: initial;
}

.status {
	margin-bottom: 1em;
}

:not(.tab).hide {
	display: none !important;
}

.editors > p {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

.tabs .hint {
	display: inline-flex;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.75em;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.editor-window[data-multiselect="multiselect"] .tabs .tab {
	border: #777 1px solid;
}

.editor-window:not([data-multiselect="multiselect"]) .tabs:hover .hint {
	opacity: 0.75;
	transition: opacity 0.2s ease-out;
}

.editor-window[data-multiselect="multiselect"] .tabs:hover .hint {
	opacity: 0.666;
}

.editor-window[data-multiselect="multiselect"] [data-icon="check"] {
	opacity: 1;
}

.editor-window .button.orientation [data-icon] {
	background-image: url(/orientation.svg);
}

.editor-window .button.expand [data-icon] {
	background-image: url(/expand.svg);
	background-size: 70%;
}

.editor-window.expanded [data-icon="check"] {
	filter: invert(100%);
}

.editor-window.expanded .button.expand [data-icon] {
	background-image: url(/minimize.svg);
}

.editor-window[data-orientation="vertical"] .orientation [data-icon] {
	transform: rotate(90deg);
}

[data-icon="check"] {
	transition: opacity 0.2s ease-out;
	opacity: 0;
	background-image: url(/check.svg);
	background-color: transparent;
	display: inline-flex;
	margin: 0.5em;
	margin-top: auto;
	margin-bottom: auto;
}

.grid-resize {
	width:  100%;
	height: 600px;
	--first-col: 1em;
	display:     grid;
	user-select: none;
	grid-template-rows:    var(--rowTemplate);
	grid-template-columns: var(--colTemplate);
	border: 1px solid #888;
}

.grid-resize .box {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

.grid-resize .resizer{
	background-color: #888;

}

.grid-resize .resizer-h{
	cursor: col-resize;
	grid-column-start: var(--track);
	grid-column-end:   var(--track);
	grid-row-start:    1;
	grid-row-end:      var(--ysize);
	max-height:        100%;
}

.grid-resize .resizer-v{
	cursor: row-resize;
	grid-row-start:    var(--track);
	grid-row-end:      var(--track);
	grid-column-start: 1;
	grid-column-end:   var(--xsize);
	max-width:         100%;
}

.contents {
	display: contents;
}

[contenteditable=true].editable > * {
	/*border: 1px solid #888;*/
}

textarea.editable {
	resize: vertical;
}

.editable {
	width: 100%;
	border: 1px solid #888;
	min-height: 16em;
	padding: 1em;
	box-sizing: border-box;
	tab-size: 4;
}

.scroller {
	width: 100%;
	height: 400px;
	margin-right: auto;
	border: 1px solid #888;
}

.views.scroller > div > div:not([data-tag=shim]) {
	padding: 1em;
	white-space: nowrap;
}

.wide {
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
	padding: 0em;
}

.wide > .wide:not(:last-child) {
	padding-right: 1em;
}

.grid.scroller > div {
}

.scroller .table .table-row {
	width: 100%;
	display: grid;
	grid-template-columns: auto repeat(4, 5fr);
}

.grid.scroller .table .table-row div:first-child {
	justify-content: center;
}

.grid.scroller .table .table-row div:nth-child(2) {
	font-family: monospace;
}

.grid.scroller .table .table-row div:nth-child(n+3) {
	justify-content: flex-end;
}

.grid.scroller .table .table-row div span {
	display: contents;
}

.scroller .table .table-row div input {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0.5em;
	flex-grow: 1;
	box-sizing: border-box;
	border: 1px solid #666;
}

.scroller input {
	border: 1px solid #666;
}

.scroller input:focus {
	outline: none;
	border: 1px solid black;
}

.grid.scroller .table .table-row div:not(:last-child) {
	border-right: 1px solid #888;
}

.grid.scroller .table .table-row:not(:last-child) {
	border-bottom: 1px solid #BBB;
}

.grid.scroller .table .table-row div {
	font-size: 12pt;
	display: flex;
	align-items: center;
	padding: 0.25em;
	min-width: 5em;
	overflow: hidden;
}

.grid.scroller .table .table-row.is-header {
	background-color: #AAA;
	position: sticky !important;
	z-index: 1;
	top: 0;
}

.line-up > div {
	display: flex;
	flex-direction: column;
}

.line-up > div > :last-child {
	margin-top: auto;
}



form {
	display: flex;
	flex-direction: column;
}


body {
	flex-direction: column;
	display:        flex;
	overflow-y:     scroll;
}

.navigation {
	flex-shrink: 0;
	min-width: 10rem;
	font-size: 10pt;
	line-height: 13pt;
	font-weight: bold;
}

.content {
	font-size: 10pt;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header a {
	color: white;
	text-decoration: none;
}


.header ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header ul li{
	margin-left: 1em;
	white-space: nowrap;
}

.layout {
	flex-direction: row;
	flex-grow:      1;
	display:        flex;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 4em;
	margin-bottom: 4em;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrap {
	flex-wrap: wrap;
}
/*
.row > *:not(:first-child):not(:last-child) {
	background: transparent;
	overflow:   auto;
	flex:       var(--flex);
}
*/
.full {
	width: 100%;
}

.row .half {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	position: relative;
}

.row.editors {
	flex: 1;
}

.row .half {
	flex: 1;
}

.row .half:empty {
	flex: 0;
}

html, body {
	height: 100%;
	margin: 0rem;
}

.content > * {
	margin-top:    0.5em;
	margin-bottom: 0.5em;
}

.content > h2:not(:first-child) {
	margin-top: 1.5em;
}

.content > h3 {
	margin-top: 1em;
}

.content > pre,
.content > p {
	/*margin-top: 0px;*/
	/*margin-bottom: 0px;*/
}

ul,ol {
	padding: 0.75rem;
	padding-inline-start: 2rem;
}

fieldset {
	display: flex;
	margin: 0px;
}

iframe {
	flex: 1;
	border: 0px;
	background-color: #FFF;
}

.dcontent {
	display: contents;
}

.navigation {
	min-width: 10rem;
}

h1 {
	font-weight: normal;
	font-size: 1.25rem;
}

.navigation ul li {
	list-style: none;
}

.navigation ul {
	padding: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}

.header {
	padding: 1rem;
	margin: 0px;
	background-color: black;
	color: white;
}

.right-bar {
	background-color: #AAA;
	min-width: 1em;
}

.footer {
	display: flex;
	background-color: black;
	color: white;
	min-height: 8em;
	align-items: flex-end;
	padding: 1em;
	box-sizing: border-box;
	font-size: 8pt;
}

.content {
	padding: 1rem;
	flex-grow: 1;
}

html {
	font-family: "Lucida Console";
}


/*# sourceMappingURL=app.css.map*/