/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.cm-s-elegant span.cm-number, .cm-s-elegant span.cm-string, .cm-s-elegant span.cm-atom { color: #762; }
.cm-s-elegant span.cm-comment { color: #262; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-meta { color: #555; font-style: italic; line-height: 1em; }
.cm-s-elegant span.cm-variable { color: black; }
.cm-s-elegant span.cm-variable-2 { color: #b11; }
.cm-s-elegant span.cm-qualifier { color: #555; }
.cm-s-elegant span.cm-keyword { color: #730; }
.cm-s-elegant span.cm-builtin { color: #30a; }
.cm-s-elegant span.cm-link { color: #762; }
.cm-s-elegant span.cm-error { background-color: #fdd; }

.cm-s-elegant .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-elegant .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

.no-scroll {
	overflow: hidden !important;
}

.editor-window .status {
	padding: 0.25em;
	user-select: none;
	justify-content: flex-end;
	font-size: 0.75em;
}

.editor-window .row.tabs, .status {
	justify-content: flex-start;
	margin-bottom: 0em;
}

.tabs .tab {
	margin-top: auto;
}

.editor-window .row.status, .editors {
	margin-top: -1px !important;
	margin-bottom: 0em !important;
	box-sizing: border-box;
}

.editor-window .status button {
	font-weight: bold;
	border: none;
	padding: 0.5em;
	margin-left: 0.5em;
	width: 2.5em;
	height: 2.5em;
	box-sizing: border-box;
}

.editors > * {
	flex: 1;
}

.editors p {
	font-size: 0.75em;
	user-select: none;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0.5em;
}

.status .refresh-disabled > * {
	opacity: 0.25;
	pointer-events: none;
}

.status .refresh-enabled > * {
	opacity: 1;
	pointer-events: initial;
}

.editors textarea {
	position: relative;
	resize: none;
	width: 100%;
	height: 100%;
	background-color: #112;
	color: white;
	font-size: 0.9em;
}

.editors .editor {
	flex: 1;
}

.half .box,
.half .result {
	position: relative;
	flex: 1;
}

.half .box .editor,
.half .result iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%
}

.editor-window {
	display: flex;
	flex-direction: column;
	resize: vertical;
	overflow: auto;
	width: 44em;
	min-height: 30em;
}

.editor-window {
	font-family: sans-serif;
	width: 100%;
}

.editor-window .buttons {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	z-index: 100;
	position: absolute;
	top: 0em;
	right: 0em;
	display: flex;
	user-select: none;
	height: 1.75em;
	padding-right: 0.2em;
	right: 0em;
	color: white;
	pointer-events: none;
}

.editor-window.expanded {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 100% !important;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
}

.editor-window .buttons .button {
	width: 1.25em;
	height: 1.25em;
	padding-left: 0.25em;
}

.buttons .label{
	background-color: black;
	position: absolute;
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin-right: 0.25em;
	right: 100%;
	font-size: 0.8rem;
	line-height: 1.3rem;
	opacity: 0;
}

.buttons [data-icon]{
	pointer-events: initial;
	cursor: pointer;
}

.button:hover .label {
}
.button:hover .label {
	opacity: 0.95;
}

[data-icon] {
	color: #CCC;
	background-color: #999;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1.25em;
	height: 1.25em;
	opacity: 0.75;
	right: 0.25em;
}

.editor-window[data-orientation="horizontal"] .row.editors {
	flex-direction: column !important;
}

.editor-window ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.editor-window ::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
}

.editor-window ::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 1px;
}

.editor-window ::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	background-color: rgba(128,128,128,1);
	border-radius: 10px;
	position: absolute;
	z-index: 100;
}

.ace_scrollbar-v {
	width: 6px !important;
	height: 100%;
}


.ace_scrollbar-h {
	height: 6px !important;
}

.expanded .tabs {
	color: white;
	background-color: black;
}

.tabs .tab {
	user-select: none;
	cursor: pointer;
	min-width: 3.6em;
	text-align: center;
	border: 1px solid #555;
	margin-right: -1px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	color: #BBB;
	background-color: #777;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-size: 0.8em;
	text-shadow: 1px 1px 2px black;
}

.tab.active {
	font-weight: bold;
	color: #FFF;
	background-color: #383838;
}

.tab:not(.active):hover {
	background-color: #444;
}

.editor-window .status, .editors {
	border: 1px solid #555;
	position: relative;
}

.editor-window .row.status {
	border: 1px solid #555;
	border-top: 1px solid #000;
	background-color: #333;
	color: white;
	user-select: none;
	justify-content: flex-end;
}

.editor-window .status button {
	color: #333;
	font-weight: bold;
	background-color: #FFF;
	border: none;
}

.editor-window .status button:active {
	background-color: #888;
	color: #FFF;
}

.editors.showSplit > *:not(:last-child) {
	border-right: #000 1px solid;
}

.editors p {
	text-shadow: 1px 1px 2px black;
	background-color: #333;
	color: white;
	border-bottom: 1px solid #000;
	border-top: 1px solid #999;
	font-weight: bold;
}

.editors textarea {
	border: none;
	box-sizing: border-box;
}

.editors .half {
	border-left: 1px solid #000;
	margin-left: -1px;
}

.status .refresh-disabled > * {
	opacity: 0.25;
	pointer-events: none;
}

.status .refresh-enabled > * {
	opacity: 1;
	pointer-events: initial;
}

.status {
	margin-bottom: 1em;
}

:not(.tab).hide {
	display: none !important;
}

.editors > p {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222;
}

.tabs .hint {
	display: inline-flex;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.75em;
	opacity: 0;
	transition: opacity 0.2s ease-in;
}

.editor-window[data-multiselect="multiselect"] .tabs .tab {
	border: #777 1px solid;
}

.editor-window:not([data-multiselect="multiselect"]) .tabs:hover .hint {
	opacity: 0.75;
	transition: opacity 0.2s ease-out;
}

.editor-window[data-multiselect="multiselect"] .tabs:hover .hint {
	opacity: 0.666;
}

.editor-window[data-multiselect="multiselect"] [data-icon="check"] {
	opacity: 1;
}

.editor-window .button.orientation [data-icon] {
	background-image: url(/orientation.svg);
}

.editor-window .button.expand [data-icon] {
	background-image: url(/expand.svg);
	background-size: 80%;
}

.editor-window.expanded [data-icon="check"] {
	filter: invert(100%);
}

.editor-window.expanded .button.expand [data-icon] {
	background-image: url(/minimize.svg);
}

.editor-window[data-orientation="vertical"] .orientation [data-icon] {
	transform: rotate(90deg);
}

[data-icon="check"] {
	transition: opacity 0.2s ease-out;
	opacity: 0;
	background-image: url(/check.svg);
	background-color: transparent;
	display: inline-flex;
	margin: 0.5em;
	margin-top: auto;
	margin-bottom: auto;
}

.grid-resize {
	width:  100%;
	height: 600px;
	--first-col: 1em;
	display:     grid;
	user-select: none;
	grid-template-rows:    var(--rowTemplate);
	grid-template-columns: var(--colTemplate);
	border: 1px solid #888;
	background-color: #777;
	box-sizing: border-box;
}

.drag-drop-frame,
.grid-resize .box {
	display:          flex;
	flex-direction:   column;
	align-items:      center;
	justify-content:  center;
	font-weight:      bold;
}

.grid-resize .box {
	overflow:         hidden;
	background-color: #FFF;
}

.grid-resize:not(.dragging) .box > * {
	cursor: grab;
}

.grid-resize .box.box-15,
.grid-resize .box.box-16,
.grid-resize .box.box-17,
.grid-resize .box.box-18{
	background-color: #888;
}

.grid-resize .box.box-15 > *,
.grid-resize .box.box-16 > *,
.grid-resize .box.box-17 > *,
.grid-resize .box.box-18 > *{
	opacity: 0.55;
	cursor:  not-allowed;
}

.drag-drop-frame > div:not(:empty),
.grid-resize div.box > div:not(:empty) {
	display:          flex;
	align-items:      center;
	justify-content:  center;
	background-color: #600;
	font-size:        18pt;
	width:            1em;
	height:           1em;
	color:            white;
	white-space:      nowrap;
	text-shadow:      0.0em 0.15em 4px rgba(0,0,0,1);
	box-shadow:       0.0em 0.25em 4px rgba(0,0,0,0.5);
	padding:          0.5em;
	border-radius:    50%;
}

.drag-drop-frame,
.grid-resize .box {
	/*cursor: grab;*/
	text-align: center;
	font-size: 10pt;
}

.grid-resize .resizer{
	background-color: #999;
}

.grid-resize .resizer-h{
	background-color:  rgba(0,0,0,0.45);
	grid-column-start: var(--track);
	grid-column-end:   var(--track);
	grid-row-start:    1;
	grid-row-end:      var(--ysize);
	max-height:        100%;
}

.grid-resize:not(.dragging) .resizer-h{
	background-color:  #caa;
	cursor:            col-resize;
}

.grid-resize .resizer-v{
	display: grid;
	grid-template-columns: var(--colTemplate);
	grid-template-rows:    1fr;
	background-color:      rgba(0,0,0,0.45);
	grid-row-start:        var(--track);
	grid-row-end:          var(--track);
	grid-column-start:     1;
	grid-column-end:       var(--xsize);
	max-width:             100%;
}

.grid-resize.dragging .resizer-vh{
}

.grid-resize:not(.dragging) .resizer-v{
	background-color:  #aac;
	cursor:            row-resize;
}

.grid-resize .resizer-vh{
	grid-row-start:    1;
	grid-row-end:      1;
	grid-column-start: var(--track);
	grid-column-end:   var(--track);
	max-width:         100%;
}

.grid-resize:not(.dragging) .resizer-vh{
	border:            1px solid #888;
	box-shadow:        0px 0px 4px #FFF;
	cursor:            move;
	background:        red;
}

.grid-resize:not(.dragging) .resizer-v:last-of-type .resizer-vh,
.grid-resize:not(.dragging) .resizer-v:first-of-type .resizer-vh{
	cursor: ns-resize;
	background: #393;
}

.grid-resize:not(.dragging) .resizer-v .resizer-vh:last-of-type,
.grid-resize:not(.dragging) .resizer-v .resizer-vh:first-of-type{
	cursor: ew-resize;
	background: #33F;
}

.grid-resize:not(.dragging) .resizer-v:last-of-type  .resizer-vh:last-child,
.grid-resize:not(.dragging) .resizer-v:first-of-type .resizer-vh:first-child{
	background: #FFF;
	cursor: nwse-resize;
}

.grid-resize:not(.dragging) .resizer-v:last-of-type  .resizer-vh:first-child,
.grid-resize:not(.dragging) .resizer-v:first-of-type .resizer-vh:last-child{
	background: #000;
	cursor: nesw-resize;
}

.contents {
	display: contents;
}

.drag-drop-frame:empty {
	display: none;
}

.drag-drop-frame:hover {
	opacity: 0.5;
}

.list-preview {
	font-size: 14pt;
}

.invert {
	justify-content: center;
	align-items:     center;
	background:      black;
	color:           white;
	display:         flex;
	font-weight:     bold;
	width:           1.5em;
	height:          1.5em;
	margin:          0.25em;
	padding:         0.25em;
	font-size:       13pt;
	border-radius:   50%;
	display:         flex;
	align-items:     center;
	justify-content: center;
	user-select:     none;
}

.invert div {
	display: flex;
	align-items:     center;
	justify-content: center;
}

.invert img {
	display:         inline;
	height:          14pt;
	filter:          invert(100%) saturate(0%) contrast(200%) brightness(150%);
}

.html-editor {
	display: flex;
	flex-direction: row;
	border: 1px solid #333;
}

.html-editor > .editor {
	display: flex;
	flex-direction: column;
	flex: 2;
}

.html-editor > .preview {
	border-right: 1px solid #333;
	flex: 1;
}

.html-editor .properties:not(:empty) {
	border-bottom: 1px solid #333;
}

.html-editor > * {
}

[contenteditable=true].editable {
	border-bottom: 1px solid #333;
}

.html-editor textarea.editable {
	overflow: auto;
	white-space: pre;
	border: 0;
	border-bottom: 1px solid #333;
	resize: vertical;
	display: block;
	font-size: 8pt;
}

.editable {
	width: 100%;
	min-height: 12em;
	padding: 0.75em;
	box-sizing: border-box;
	tab-size: 4;
}

.html-editor > * {
	margin-bottom: 0.25em;
}

.selections {
	overflow: visible;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
}

.html-editor-live {
}

.html-editor .json-editor {
	position: relative;
	min-height: 30em;
	flex: 1;
}

.html-editor .json-editor input {
	border: 0;
	border-bottom: 1px black solid;
}

.html-editor .json-editor input[type="submit"] {
	background: black;
	font-weight: bold;
	padding: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: white;
}

.html-editor .json-editor input[type="text"] {
	background: white;
	flex: 1;
}


.holder {
	overflow: auto;
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

.html-editor .CodeMirror {
	height: auto;
	min-height: 30em;
}

.preview,
.properties:not(:empty),
.html.editor,
.json-editor,
.text-editor {
	padding-top: 0;
	position: relative;
}

.html-editor :focus {
	outline: 0;
}

.html-editor .tag {
	background: red;
	color: white;
	font-weight: bold;
	font-size: 8pt;
	z-index: 5;
	padding: 0.7em;
	position: absolute;
	right: 0px;
	top: 0px;
}

.html-editor .tag:hover {
	opacity: 0.25;
}

.html-editor form {
	display: flex;
	flex-direction: row;
	z-index: 3;
	position: sticky;
	top: 0;
}

.properties:empty {
	padding:0;
}

.properties {
	padding: 0.5em;
}

.properties button {
	border-bottom: 0 !important;
	background: transparent;
	font-size: 16pt;
	padding: 0;
	color: black;
}

.scroller {
	width: 100%;
	height: 400px;
	margin-right: auto;
	border: 1px solid #888;
}

.views.scroller > div > div:not([data-tag=shim]) {
	white-space: nowrap;
}

.wide {
	flex-grow: 1;
	width: 100%;
	box-sizing: border-box;
	padding: 0em;
}

.wide > .wide:not(:last-child) {
	padding-right: 1em;
}

.scroller .table .table-row {
	width: 100%;
}

.grid.scroller .table .table-row {
	box-sizing: border-box;
}

.grid.scroller .table .table-row div {
	padding: 0.5em;
}

.grid.scroller .table .table-row div:nth-child(n+3) {
	justify-content: flex-end;
}

.grid.scroller .table .table-row div:nth-child(5) {
	justify-content: center;
}

.grid.scroller .table .table-row div span {
	display: contents;
}

.scroller .table .table-row div input {
	display: block;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	box-sizing: border-box;
	background: transparent;
	border: 0px;
}

.scroller .table .table-row div input:not(:placeholder-shown) {
	text-decoration: underline;
}

.scroller input {
	border: 1px solid #666;
}

.scroller input:focus {
	outline: none;
	border: 1px solid black;
}

.grid.scroller .table .table-row div:not(:last-child) {
	border-right: 1px solid #888;
}

.grid.scroller .table .table-row:not(:last-child) {
	border-bottom: 1px solid black;
}

.grid.scroller .table .table-row:not(.is-header) > div {
	font-size: 12pt;
}

.grid.scroller .table .table-row div {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.scroller > div:focus {
	outline: 1px dotted black;
	outline-offset: 1px;
}

.grid.scroller .table .table-row.is-header {
	background-color: #AAA;
	z-index: 1;
	transform: none !important;

}

.line-up > div {
	display: flex;
	flex-direction: column;
}

.line-up > div > :last-child {
	margin-top: auto;
}

.cv-hyperscroller-row {
	width: 100%;
	box-sizing: border-box;
}

.simple.scroller .cv-hyperscroller-row {
	text-align: center;
}

.views.scroller .cv-hyperscroller-row {
	display: flex;
	font-size: 10pt;
}

.views.scroller .cv-hyperscroller-row i {
	padding-right: 1em;
	text-align: right;
	min-width: 3em;
}

.views.scroller .cv-hyperscroller-row .input div {
	padding: 1px;
}

.views.scroller .cv-hyperscroller-row input {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	font-size: 10pt;
}

div.list-preview {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.table-scrollable {
	width: 100%;
	height: 100%;
}

div.table-scrollable table {
	overflow: visible;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-spacing: 0;
}

div.table-scrollable thead {

}

div.table-row.is-header {
	position: sticky !important;
	top: 0 !important;
	transform: none !important;
}

div.table-row {
	display: flex;
}

div.table-row > * {
	flex: 1;
}

div.table-row > *:first-child {
	flex: 0 1 4em;
}

div.table-row > *:last-child {
	flex: 3;
}

.lonebar-value {
	border: 1px solid #888;
	margin: 0.25em;
	padding: 0.25em;
	width: 4em;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}


.keyboard .key {
	stroke-width: 3;
	stroke: #BBB;
	fill:   #BBB;
}

.keyboard .pressed {
	fill:   #b31515;
}

.keyboard .released {
	stroke: #deada5;
}

.row.keyboard {
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
}

.row.keyboard > * {
	margin-bottom: 1em;
}

.row.keyboard > *:not(:last-child) {
	margin-right: 1em;
} 


body {
	flex-direction: column;
	display:        flex;
	overflow-y:     scroll;
	text-align:     justify;
}

code, pre {
	text-align: left;
}

.navigation {
	flex-shrink: 0;
	min-width: 10rem;
	font-weight: bold;
}

.content {
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header a {
	color: white;
	text-decoration: none;
}


.header ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.header ul li{
	margin-left: 1em;
	white-space: nowrap;
}

.layout {
	flex-direction: row;
	flex-grow:      1;
	display:        flex;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 4em;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.start {
	justify-content: flex-start;
}

.end {
	justify-content: flex-end;
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

pre.wrap {
	white-space: pre-wrap;
}

.wrap {
	flex-wrap: wrap;
}
/*
.row > *:not(:first-child):not(:last-child) {
	background: transparent;
	overflow:   auto;
	flex:       var(--flex);
}
*/
.full > .content {
	width: 100%;
	max-width: 880px;
}

.col.full {
	flex: 1;
}

.row .half {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
	position: relative;
}

.row.editors {
	flex: 1;
}

.row .half {
	flex: 1;
}

.row .half:empty {
	flex: 0;
}

.centered {
	align-items: center;
}

.spaced-out {
	justify-content: space-around;
	width: 100%;
}

html, body {
	height: 100%;
	margin: 0rem;
}

.content > * {
	margin-top:    0.5em;
	margin-bottom: 0.5em;
}

.content > h2:not(:first-child) {
	margin-top: 1.5em;
}

.content > h3 {
	margin-top: 1em;
}

.content > pre,
.content > p {
	/*margin-top: 0px;*/
	/*margin-bottom: 0px;*/
}

ul,ol {
	padding: 0.75rem;
	padding-inline-start: 2rem;
}

fieldset {
	display: flex;
	margin: 0px;
}

iframe {
	flex: 1;
	border: 0px;
	background-color: #FFF;
	min-width: 100%;
}

.dcontent {
	display: contents;
}

.navigation {
	min-width: 10rem;
	border-right: 1px solid black;
}

h1 {
	font-weight: normal;
	font-size: 1.25rem;
}

h2:first-child {
	margin-top: 0;
	border-left: 2px solid black;
	padding-left: 0.3em;
}

h2 {
	font-size: 1.75rem;
}

h3 {
	font-size: 1.4rem;
}

h4 {
	font-size: 1.3rem;
}

.navigation ul li {
	list-style: none;
}

.navigation ul {
	padding: 0;
	margin-left: 1em;
	margin-bottom: 1em;
}

.header {
	padding: 1rem;
	margin: 0px;
	background-color: black;
	color: white;
}

.right-bar {
	background-color: #AAA;
	min-width: 1em;
}

.footer {
	display: flex;
	background-color: black;
	color: white;
	min-height: 8em;
	align-items: flex-end;
	padding: 1em;
	box-sizing: border-box;
}

.content {
	padding: 1rem;
	flex-grow: 1;
}

html {
	font-family: 'Inconsolata', monospace;
}

pre, code {
	font-family: 'Courier Prime', monospace;
}

.highlight-bar {
	background: black;
	padding: 0.5em;
	font-size: 11pt;
	color: white;
}

.editor .hint {
	font-size: 9pt;
	display: flex;
	margin-bottom: 0.5em;
}

.editor [data-icon=check] {
	width: 1em !important;
	padding: 0;
	background-color: transparent !important;
	filter:     invert(0) !important;
}

.models-demo input,
.models-demo select {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #DDD;
	width: 0;
}

.models-demo input[data-property="id"],
.models-demo input[data-property="class"] {
}

.models-demo input[disabled] {
	cursor: not-allowed;
}

.models-demo option:checked {
	display: none;
}

.models-demo select:focus,
.models-demo option:hover,
.models-demo input:focus {
	outline: none!important;
	background-color: #BBB;
}

.models-demo .property-edit input {
	border-bottom: 1px solid black !important;
	border-right: 1px solid black !important;
	border-left: 1px solid black !important;
	font-weight: bold;
}

.models-demo pre{
	line-height: 1.5em;
}

.models-demo pre img[data-icon] {
	cursor: pointer;
	margin-left: auto;
	margin-right: 0.5em;
	display: inline;
	opacity: 1;
}

.models-demo pre img[data-icon]:focus {
	opacity: 0.85;
	outline: 1px dotted black;
}

.models-demo pre img[data-icon]:active {
	opacity: 0.5;
	filter: invert(55%);
}

.models-demo .firstline {
	display: flex;
	align-items: center;
}

.models-demo [contenteditable]:focus {
	outline: none;
}

.prop-remove {
	cursor: pointer;
}

.remove-id, .remove-class {
	opacity: 0.5;
	cursor: not-allowed;
}

.database-editor,
.model-editor {
	border: 1px solid black;
	display: inline-block;
}

.model-editor {
	flex: 1;
}

.database-editor {
	box-sizing: border-box;
	width: 100%;
}

.database-editor-body {
	display: flex;
	flex-direction: row;
}

.database-store-list {
	border-right: 1px solid black;
	flex-shrink: 1;
	align-items: flex-end;
}

.database-store-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.database-store-list ul li {
	padding: 0.5em;
}

.models-demo .models {}

.models-demo .model-editor-title {
	display: flex;
	flex-direction: row;
	background: black;
	color: white;
	font-weight: bold;
	font-size: 0.85em;
	padding: 0.5em;
	user-select: none;
}

.model-editor pre {
	font-size: 0.9em;
}

.models-demo > .model-editors {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	margin-left: -1em;
}

.model-editor {
	flex-direction: column;
	overflow: hidden;
	margin-left: 1em;
	margin-bottom: 1em;
}

.model-editor .model-editor-title .title {
	flex: 1;
}

.model-editor .model-editor-title .buttons {
	margin-right: 0.25em;
}

.model-loader .model-editor-title .buttons {
	pointer-events: none;
	opacity: 0;
}

.model-editor .model-editor-title .buttons > * {
	cursor: pointer;
}

img:focus,
input:focus,
button:focus {
	outline: 1px dotted black;
	outline-offset: 1px;
}

.model-editor .property-edit {
	display: flex;
	margin-top: 0.5em;
}

.models-demo .model-editor-eyebrow,
.models-demo .model-editor-text {
	font-size: 0.85em;
	padding: 0.5em;
}

.models-demo .model-editor-eyebrow {
	min-height: 4em;
}

.model-editor .new-property {
	display: flex;
	justify-content: center;
}

.model-editor .new-property {
	border: 1px solid black !important;
	margin: 0.5em;
}

.model-editor input {
	flex: 1;
}

.model-editor > .buttons {
	margin-bottom: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

button {
	cursor: pointer;
	font-weight: bold;
	margin: 0.5em;
	border: none;
	background: black;
	color: white;
}

button.tight {
	border-bottom: 1px solid black;
	display: inline-block;
}

button:not(.tight) {
	padding: 8pt;
}

label.buttons div {
	display: flex;
	align-items: center;
	padding-left: 1em;
	padding-right: 1em;
}

.model-editor input {
	border: 0;
}

.model-editor input,
label.buttons button,
.model-editor button {
	margin: 0px;
}

.model-editor pre {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.models-demo .CodeMirror.cm-s-elegant {
	margin-bottom: 1em;
	height: auto;
}

.database-editor-right {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.database-editor-right > *{
	padding: 0.5em;
}

.database-editor-right form {
	padding: 0;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.database-editor-right form label select,
.database-editor-right form label input{
	margin-top: 0.5em;
}

.database-editor-right label {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-top: 0.5em;
	padding-right: 0.5em;
}

.database-editor-right label:first-child {
	border-left: none;
	padding-left: 0.5em;
}

.database-editor-right select,
.database-editor-right input {
	width: 100%;
	box-sizing: border-box;
	border-right: none;
	border: 1px solid black;
}

label.buttons {
	padding: 0.5em;
	min-width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.scroller.tight {
	padding: 0;
	box-sizing: border-box;
	border: 0;
	border-top: 1px solid black;
}

.model-editor-body {
	position: relative;
}

.model-editor .database-store-selector {
	display: flex;
	flex-direction: column;
	position: absolute;
	background: white;
	z-index: 1;
	top: 0.5em;
	left: 0.5em;
	bottom: 0.5em;
	right: 0.5em;
	opacity: 0;
	overflow: scroll;
	transition: opacity 0.5s ease-in;
	pointer-events: none;
}

.model-editor.saving .database-store-selector {
	opacity: 1;
	pointer-events: initial;
}

.model-editor .database-store-selector > *:first-child {
	border-top: 1px solid #999;
}

.model-editor .database-store-selector > * {
	flex: 0 0 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #999;
}

.model-scroller {
	min-height: 20em;
}

.model-scroller input,
.model-scroller {
	font-size: 9pt;
}

.model-scroller .table-row > div {
	display: flex;
	flex-direction: row;
}

.model-scroller .table-row > div > * {
	flex: 1 1 33%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.3em;
	border-bottom: 1px solid #AAA;
	border-right: 1px solid #999
}

.database-editor .table-row label[data-property="id"] {
	flex: 0 0 6em;
	order: -2;
	min-width: 3em;
}

.database-editor  .table-row label[data-property="class"] {
	flex: 0 0 8em;
	order: -1;
}

.database-editor [data-property="id"] input,
.database-editor [data-property="class"] input {
	color: #555;
}

.database-editor .scroller .table .table-row div input {
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	text-decoration: none;
	padding: 0.5em;
}

.database-editor .scroller .table .table-row > div > * {
	transition: flex 0.2s ease-out, opacity 0.8s ease-in;
}

.database-editor .scroller .table .table-row > div:focus-within > *:not(:focus-within) {
	flex: 0 1 0%;
	overflow: hidden;
	/*opacity: 0.75;*/
}
.database-editor .scroller .table .table-row > div > *:focus-within {
	background: #bbb;
	font-weight: bold;
	transition: flex 0.5s ease-in, opacity 0.8s ease-in;
	flex: 1 1 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

[data-property="id"] input
,[data-property="class"] input {
	pointer-events: none;
	color: #333;
}

.database-editor .scroller .table .table-row label[data-property="id"] input,
.database-editor .scroller .table .table-row label[data-property="class"] input {
	border: 0;
	text-decoration: none;
}

.database-editor .db-active {
	background: black;
	color: white;
	font-weight: bold;
	transition: 0.25s ease-in background, 0.5s ease-out color;
}

.database-editor .database-store-list {
	font-size: 0.9em;
}

.database-editor .database-store-list p {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.database-editor label span {
	user-select: none;
}

.database-editor a {
	cursor: pointer;
}

/*p {
	font-weight: bold;
}
*/

.sample-editor {
	width:     100%;
}

.sample-editor ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sample-editor ::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
}

.sample-editor ::-webkit-scrollbar-track {
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 1px;
}

.sample-editor ::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	background-color: rgba(128,128,128,1);
	border-radius: 10px;
	position: absolute;
}

.editor-main-field {
	position:      relative;
	resize:        vertical;
	border-left:   1px solid black;
	border-right:  1px solid black;
	border-bottom: 1px solid black;
	height:        22em;
	/*box-shadow: 0em 0.5em 0.75em rgba(0,0,0,0.25);*/

}

.sample-editor[data-floating=false] .editor-main-field {
	overflow:   hidden;
	min-height: 12em;
	flex:       1;
	resize:     vertical;
	scrollbar-width: thin;
}

.sample-editor[data-floating=false] .editor-main-field {
	display:    flex;
}

.editor-main-field > * {
	overflow: hidden;
	flex:     1;
}

.sample-editor[data-floating=true] .editor-main-field > * {
	width: 100%;
	min-height: 300px  !important;
	margin: 1em auto 1em auto;
	/*box-shadow: 0em 1em 1em rgba(0,0,0,0.25);*/
}

.editor-main-field .filename-label {
	user-select: none;
	background:  black;
	color:       white;
	font-size:   10pt;
	font-weight: bold;
	padding:     0.25em;
}

.sample-editor.expanded .editor-main-field {

}

.editor-main-field .file-content {
	position: relative;
	flex: 1;
}

.editor-main-field[data-show-field="*"] > *:not(:last-child) {
	border-right: 1px solid #333;
}

.editor-main-field > [data-field] {
	display: flex;
	flex-direction: column;
}

.editor-main-field > [data-field="*"] {
	display: none;
}

.editor-main-field[data-show-field="*"] {
	flex-direction: row;
}

.editor-main-field[data-show-field="*"] > *{
	width: 20%;
	flex-direction: column;
}

.sample-editor[data-orientation="vertical"] .editor-main-field[data-show-field="*"] {
	flex-direction: column;
}

.sample-editor[data-orientation="vertical"] .editor-main-field > [data-field] {
	min-width: 100%;
}

.radio-bar {
	position:      relative;
	user-select:   none;
	background:    white;
	--timing:      0.15s;
	margin-right:  auto;
	display:       inline-block;
	font-weight:   bold;
	font-size:     10pt;
}

.radio-bar > .button-track {
	display:        flex;
	position:       relative;
	flex-direction: row;
	min-height:     28px;
}

.radio-bar > .button-track > div {
	display:       flex;
	cursor:        pointer;
	padding:       0.5em;
	padding-left:  0.75em;
	padding-right: 0.75em;
	flex:          1;
	align-items:   center;
	text-align:    center;
	justify-content: center;
	white-space: pre;
}

.radio-bar > .highlight-track {
	pointer-events: none;
}

.sample-editor .CodeMirror,
.radio-bar > .highlight-track {
	position: absolute;
	top:      0;
	bottom:   0;
	left:     0;
	right:    0;
}

.radio-bar > .highlight-track > :first-child {
	mix-blend-mode: difference;
	position:       absolute;
	background:     rgba(255,255,255,1);
	box-sizing:     border-box;
	transition:
		transform var(--timing) ease-in-out
		, height  var(--timing) ease-in-out
		, width   var(--timing) ease-in-out;
}

.sample-editor .row {
	align-items: center;
}

.sample-editor [data-field] {
	background: white;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	font-size: 8.5pt !important;
}

.sample-editor .CodeMirror {
	height: auto;
}

.sample-editor [data-icon]:last-child {
	border-right: 0;
}

.sample-editor [data-icon] {
	background-color: white;
	filter:           invert(1);
	margin-left:      0.25em;
	opacity:          1;
	width:            1.25em;
	height:           1.25em;
	cursor:           pointer;
	box-sizing:       content-box;
	border: 3px solid black;
}

.sample-editor [data-icon]:active {
	transform: scale(0.9);
}

.sample-editor [data-icon=orientation] {
	background-image: url(/orientation.svg);
	opacity: 0;
	pointer-events: none;
	transition: 0.25s ease-in-out opacity, 0.1s ease-in-out transform;
}

.sample-editor[data-show-field="*"] [data-icon=orientation] {
	opacity: 1;
	pointer-events: initial;
}

.sample-editor[data-orientation=""] [data-icon=orientation],
.sample-editor[data-orientation="horizontal"] [data-icon=orientation] {
	transform: rotate(90deg);
}

.sample-editor[data-orientation=""] [data-icon=orientation]:active,
.sample-editor[data-orientation="horizontal"] [data-icon=orientation]:active {
	transform: scale(0.9) rotate(90deg);
}

.sample-editor [data-icon=expand] {
	background-image: url(/expand.svg);
	background-size: 80%;
}

.sample-editor.expanded [data-icon=expand] {
	background-image: url(/minimize.svg);
	background-size: 80%;
}

.sample-editor.expanded {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh !important;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
	background: white;
	max-width: initial;
	display: flex;
	flex-direction: column;
}

.sample-editor.expanded .row {
	padding-right: 0.5em;
}

.sample-editor .hint {
	transition: 0.4s ease-in-out opacity;
	opacity: 0;
	border-left: 2px solid black;
	padding: 0.25em;
	margin-bottom: 0.25em;
	font-size: 10pt;
	justify-content: flex-start;
}

.sample-editor:hover .hint {
	opacity: 1;
}

.sample-editor .hint [data-icon=check] {
	background-color: transparent;
	filter: invert(0);
	opacity: 0;
	height: 1em;
}

.sample-editor[data-select="multiselect"] .hint [data-icon=check] {
	opacity: 1;
}

.sample-editor .highlight-track,
.sample-editor [data-label="*"] {
	transition: 0.2s opacity, 0.2s background-color;
}

.sample-editor[data-select="multiselect"] .highlight-track,
.sample-editor[data-select="multiselect"] [data-label="*"] {
	pointer-events: none;
}

.sample-editor .button-track > * {
	border-top:  1px transparent solid;
	border-left: 1px transparent solid;
}

.sample-editor .button-track > *:last-child {
	border-right: 1px transparent solid;
}

.sample-editor[data-select="multiselect"] .button-track > * {
	border-color: #AAA;
}

.sample-editor[data-select="multiselect"] .button-track > *:hover {
	background: white;
	filter: invert(1);
}

.sample-editor .row.status {
	user-select: none;
	justify-content: flex-end;
	font-size: 11pt;
}

.sample-editor .status button {
	font-weight: bold;
	border: none;
}

.sample-editor .status button:active {

}

.sample-editor .status button {
	font-weight: bold;
	border: none;
	margin-top: 1em;
	margin-left: 1em;
	width: 2.5em;
	height: 2.5em;
	box-sizing: border-box;
}

.sample-editor .status button {
	transition: opacity 0.25s ease-in-out;
	margin-right: 0;
	border: 1px solid white;
}

.sample-editor[data-changed=true] .status button {
	cursor: pointer;
}

.sample-editor[data-changed=false] .status button {
	pointer-events: none;
	border-color: white;
	background: black;
	filter: invert(1);
	opacity: 0.5;
}

.sample-editor {
	width:     100%;
}

.sample-editor ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sample-editor ::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
}

.sample-editor ::-webkit-scrollbar-track {
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 1px;
}

.sample-editor ::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	background-color: rgba(128,128,128,1);
	border-radius: 10px;
	position: absolute;
}

.editor-main-field {
	position:      relative;
	resize:        vertical;
	border-left:   1px solid black;
	border-right:  1px solid black;
	border-bottom: 1px solid black;
	height:        22em;
	/*box-shadow: 0em 0.5em 0.75em rgba(0,0,0,0.25);*/

}

.sample-editor[data-floating=false] .editor-main-field {
	overflow:   hidden;
	min-height: 12em;
	flex:       1;
	resize:     vertical;
	scrollbar-width: thin;
}

.sample-editor[data-floating=false] .editor-main-field {
	display:    flex;
}

.editor-main-field > * {
	overflow: hidden;
	flex:     1;
}

.sample-editor[data-floating=true] .editor-main-field > * {
	width: 100%;
	min-height: 300px  !important;
	margin: 1em auto 1em auto;
	/*box-shadow: 0em 1em 1em rgba(0,0,0,0.25);*/
}

.editor-main-field .filename-label {
	user-select: none;
	background:  black;
	color:       white;
	font-size:   10pt;
	font-weight: bold;
	padding:     0.25em;
}

.sample-editor.expanded .editor-main-field {

}

.editor-main-field .file-content {
	position: relative;
	flex: 1;
}

.editor-main-field[data-show-field="*"] > *:not(:last-child) {
	border-right: 1px solid #333;
}

.editor-main-field > [data-field] {
	display: flex;
	flex-direction: column;
}

.editor-main-field > [data-field="*"] {
	display: none;
}

.editor-main-field[data-show-field="*"] {
	flex-direction: row;
}

.editor-main-field[data-show-field="*"] > *{
	width: 20%;
	flex-direction: column;
}

.sample-editor[data-orientation="vertical"] .editor-main-field[data-show-field="*"] {
	flex-direction: column;
}

.sample-editor[data-orientation="vertical"] .editor-main-field > [data-field] {
	min-width: 100%;
}

.radio-bar {
	position:      relative;
	user-select:   none;
	background:    white;
	--timing:      0.15s;
	margin-right:  auto;
	display:       inline-block;
	font-weight:   bold;
	font-size:     10pt;
}

.radio-bar > .button-track {
	display:        flex;
	position:       relative;
	flex-direction: row;
	min-height:     28px;
}

.radio-bar > .button-track > div {
	display:       flex;
	cursor:        pointer;
	padding:       0.5em;
	padding-left:  0.75em;
	padding-right: 0.75em;
	flex:          1;
	align-items:   center;
	text-align:    center;
	justify-content: center;
	white-space: pre;
}

.radio-bar > .highlight-track {
	pointer-events: none;
}

.sample-editor .CodeMirror,
.radio-bar > .highlight-track {
	position: absolute;
	top:      0;
	bottom:   0;
	left:     0;
	right:    0;
}

.radio-bar > .highlight-track > :first-child {
	mix-blend-mode: difference;
	position:       absolute;
	background:     rgba(255,255,255,1);
	box-sizing:     border-box;
	transition:
		transform var(--timing) ease-in-out
		, height  var(--timing) ease-in-out
		, width   var(--timing) ease-in-out;
}

.sample-editor .row {
	align-items: center;
}

.sample-editor [data-field] {
	background: white;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	font-size: 8.5pt !important;
}

.sample-editor .CodeMirror {
	height: auto;
}

.sample-editor [data-icon]:last-child {
	border-right: 0;
}

.sample-editor [data-icon] {
	background-color: white;
	filter:           invert(1);
	margin-left:      0.25em;
	opacity:          1;
	width:            1.25em;
	height:           1.25em;
	cursor:           pointer;
	box-sizing:       content-box;
	border: 3px solid black;
}

.sample-editor [data-icon]:active {
	transform: scale(0.9);
}

.sample-editor [data-icon=orientation] {
	background-image: url(/orientation.svg);
	opacity: 0;
	pointer-events: none;
	transition: 0.25s ease-in-out opacity, 0.1s ease-in-out transform;
}

.sample-editor[data-show-field="*"] [data-icon=orientation] {
	opacity: 1;
	pointer-events: initial;
}

.sample-editor[data-orientation=""] [data-icon=orientation],
.sample-editor[data-orientation="horizontal"] [data-icon=orientation] {
	transform: rotate(90deg);
}

.sample-editor[data-orientation=""] [data-icon=orientation]:active,
.sample-editor[data-orientation="horizontal"] [data-icon=orientation]:active {
	transform: scale(0.9) rotate(90deg);
}

.sample-editor [data-icon=expand] {
	background-image: url(/expand.svg);
	background-size: 80%;
}

.sample-editor.expanded [data-icon=expand] {
	background-image: url(/minimize.svg);
	background-size: 80%;
}

.sample-editor.expanded {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh !important;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
	background: white;
	max-width: initial;
	display: flex;
	flex-direction: column;
}

.sample-editor.expanded .row {
	padding-right: 0.5em;
}

.sample-editor .hint {
	transition: 0.4s ease-in-out opacity;
	opacity: 0;
	border-left: 2px solid black;
	padding: 0.25em;
	margin-bottom: 0.25em;
	font-size: 10pt;
	justify-content: flex-start;
}

.sample-editor:hover .hint {
	opacity: 1;
}

.sample-editor .hint [data-icon=check] {
	background-color: transparent;
	filter: invert(0);
	opacity: 0;
	height: 1em;
}

.sample-editor[data-select="multiselect"] .hint [data-icon=check] {
	opacity: 1;
}

.sample-editor .highlight-track,
.sample-editor [data-label="*"] {
	transition: 0.2s opacity, 0.2s background-color;
}

.sample-editor[data-select="multiselect"] .highlight-track,
.sample-editor[data-select="multiselect"] [data-label="*"] {
	pointer-events: none;
}

.sample-editor .button-track > * {
	border-top:  1px transparent solid;
	border-left: 1px transparent solid;
}

.sample-editor .button-track > *:last-child {
	border-right: 1px transparent solid;
}

.sample-editor[data-select="multiselect"] .button-track > * {
	border-color: #AAA;
}

.sample-editor[data-select="multiselect"] .button-track > *:hover {
	background: white;
	filter: invert(1);
}

.sample-editor .row.status {
	user-select: none;
	justify-content: flex-end;
	font-size: 11pt;
}

.sample-editor .status button {
	font-weight: bold;
	border: none;
}

.sample-editor .status button:active {

}

.sample-editor .status button {
	font-weight: bold;
	border: none;
	margin-top: 1em;
	margin-left: 1em;
	width: 2.5em;
	height: 2.5em;
	box-sizing: border-box;
}

.sample-editor .status button {
	transition: opacity 0.25s ease-in-out;
	margin-right: 0;
	border: 1px solid white;
}

.sample-editor[data-changed=true] .status button {
	cursor: pointer;
}

.sample-editor[data-changed=false] .status button {
	pointer-events: none;
	border-color: white;
	background: black;
	filter: invert(1);
	opacity: 0.5;
}

.lone-scrollbar {
	display: flex;
}

.lone-scrollbar[data-orientation=vertical] .lone-scrollbar-scroller {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 200px;
}

.lone-scrollbar[data-orientation=horizontal] .lone-scrollbar-scroller {
	overflow-y: hidden;
	overflow-x: scroll;
	width: 200px;
}

.lone-scrollbar .lone-scrollbar-scroller {
	border: 1px solid #999;
}

.lone-scrollbar[data-orientation=vertical] .lone-scrollbar-scroller {
	transform: scaleX(-1);
}

.lone-scrollbar[data-orientation=horizontal] .lone-scrollbar-scroller {
	transform: scaleY(-1);
}

.lone-scrollbar[data-orientation=vertical] .lone-scrollbar-shim {
	margin-right: -1px;
	height: 400px;
	width: 1px;
}

.lone-scrollbar[data-orientation=horizontal] .lone-scrollbar-shim {
	margin-bottom: -1px;
	width: 400px;
	height: 1px;
}

.lone-scrollbar .lone-scrollbar-shim {
	background: red;
	padding: 0;
	margin: 0;
}

.lone-scrollbar::-webkit-scrollbar-track {
	width: 100%;
}


/*# sourceMappingURL=app.css.map*/