.row.keyboard .glyphs path {
	fill: #888;
	stroke: #988;
	stroke-width: 0.5 !important;
}

.row.keyboard .glyphs path {
	fill: #000;
	stroke: #232;
	stroke-width: 0.5 !important;
}

.keyboard .key {
	transition: fill 0.125s ease-out, stroke 0.125s ease-out;
	stroke-width: 1;
}

.keyboard .key {
	transition: fill 0.125s ease-out, stroke 0.125s ease-out;
	stroke: #333;
	fill:   #EEE;
}

.keyboard .pressed {
	fill:   #b31515;
}

.keyboard .released {
	stroke: #800;
}
