.sample-editor {
	width:     100%;
}

.sample-editor ::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.sample-editor ::-webkit-scrollbar-track-piece {
	background-color: rgba(0, 0, 0, 0);
}

.sample-editor ::-webkit-scrollbar-track {
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 1px;
}

.sample-editor ::-webkit-scrollbar-thumb {
	border: 1px solid rgba(0, 0, 0, 0);
	background-clip: padding-box;
	background-color: rgba(128,128,128,1);
	border-radius: 10px;
	position: absolute;
}

.editor-main-field {
	position:      relative;
	resize:        vertical;
	border-left:   1px solid black;
	border-right:  1px solid black;
	border-bottom: 1px solid black;
	height:        22em;
	/*box-shadow: 0em 0.5em 0.75em rgba(0,0,0,0.25);*/

}

.sample-editor[data-floating=false] .editor-main-field {
	overflow:   hidden;
	min-height: 12em;
	flex:       1;
	resize:     vertical;
	scrollbar-width: thin;
}

.sample-editor[data-floating=false] .editor-main-field {
	display:    flex;
}

.editor-main-field > * {
	overflow: hidden;
	flex:     1;
}

.sample-editor[data-floating=true] .editor-main-field > * {
	width: 100%;
	min-height: 300px  !important;
	margin: 1em auto 1em auto;
	/*box-shadow: 0em 1em 1em rgba(0,0,0,0.25);*/
}

.editor-main-field .filename-label {
	user-select: none;
	background:  black;
	color:       white;
	font-size:   10pt;
	font-weight: bold;
	padding:     0.25em;
}

.sample-editor.expanded .editor-main-field {

}

.editor-main-field .file-content {
	position: relative;
	flex: 1;
}

.editor-main-field[data-show-field="*"] > *:not(:last-child) {
	border-right: 1px solid #333;
}

.editor-main-field > [data-field] {
	display: flex;
	flex-direction: column;
}

.editor-main-field > [data-field="*"] {
	display: none;
}

.editor-main-field[data-show-field="*"] {
	flex-direction: row;
}

.editor-main-field[data-show-field="*"] > *{
	width: 20%;
	flex-direction: column;
}

.sample-editor[data-orientation="vertical"] .editor-main-field[data-show-field="*"] {
	flex-direction: column;
}

.sample-editor[data-orientation="vertical"] .editor-main-field > [data-field] {
	min-width: 100%;
}

.radio-bar {
	position:      relative;
	user-select:   none;
	background:    white;
	--timing:      0.15s;
	margin-right:  auto;
	display:       inline-block;
	font-weight:   bold;
	font-size:     10pt;
}

.radio-bar > .button-track {
	display:        flex;
	position:       relative;
	flex-direction: row;
	min-height:     28px;
}

.radio-bar > .button-track > div {
	display:       flex;
	cursor:        pointer;
	padding:       0.5em;
	padding-left:  0.75em;
	padding-right: 0.75em;
	flex:          1;
	align-items:   center;
	text-align:    center;
	justify-content: center;
	white-space: pre;
}

.radio-bar > .highlight-track {
	pointer-events: none;
}

.sample-editor .CodeMirror,
.radio-bar > .highlight-track {
	position: absolute;
	top:      0;
	bottom:   0;
	left:     0;
	right:    0;
}

.radio-bar > .highlight-track > :first-child {
	mix-blend-mode: difference;
	position:       absolute;
	background:     rgba(255,255,255,1);
	box-sizing:     border-box;
	transition:
		transform var(--timing) ease-in-out
		, height  var(--timing) ease-in-out
		, width   var(--timing) ease-in-out;
}

.sample-editor .row {
	align-items: center;
}

.sample-editor [data-field] {
	background: white;
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	font-size: 8.5pt !important;
}

.sample-editor .CodeMirror {
	height: auto;
}

.sample-editor [data-icon]:last-child {
	border-right: 0;
}

.sample-editor [data-icon] {
	background-color: white;
	filter:           invert(1);
	margin-left:      0.25em;
	opacity:          1;
	width:            1.25em;
	height:           1.25em;
	cursor:           pointer;
	box-sizing:       content-box;
	border: 3px solid black;
}

.sample-editor [data-icon]:active {
	transform: scale(0.9);
}

.sample-editor [data-icon=orientation] {
	background-image: url(/orientation.svg);
	opacity: 0;
	pointer-events: none;
	transition: 0.25s ease-in-out opacity, 0.1s ease-in-out transform;
}

.sample-editor[data-show-field="*"] [data-icon=orientation] {
	opacity: 1;
	pointer-events: initial;
}

.sample-editor[data-orientation=""] [data-icon=orientation],
.sample-editor[data-orientation="horizontal"] [data-icon=orientation] {
	transform: rotate(90deg);
}

.sample-editor[data-orientation=""] [data-icon=orientation]:active,
.sample-editor[data-orientation="horizontal"] [data-icon=orientation]:active {
	transform: scale(0.9) rotate(90deg);
}

.sample-editor [data-icon=expand] {
	background-image: url(/expand.svg);
	background-size: 80%;
}

.sample-editor.expanded [data-icon=expand] {
	background-image: url(/minimize.svg);
	background-size: 80%;
}

.sample-editor.expanded {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh !important;
	margin-top: 0px;
	margin-bottom: 0px;
	resize: none;
	background: white;
	max-width: initial;
	display: flex;
	flex-direction: column;
}

.sample-editor.expanded .row {
	padding-right: 0.5em;
}

.sample-editor .hint {
	transition: 0.4s ease-in-out opacity;
	opacity: 0;
	border-left: 2px solid black;
	padding: 0.25em;
	margin-bottom: 0.25em;
	font-size: 10pt;
	justify-content: flex-start;
}

.sample-editor:hover .hint {
	opacity: 1;
}

.sample-editor .hint [data-icon=check] {
	background-color: transparent;
	filter: invert(0);
	opacity: 0;
	height: 1em;
}

.sample-editor[data-select="multiselect"] .hint [data-icon=check] {
	opacity: 1;
}

.sample-editor .highlight-track,
.sample-editor [data-label="*"] {
	transition: 0.2s opacity, 0.2s background-color;
}

.sample-editor[data-select="multiselect"] .highlight-track,
.sample-editor[data-select="multiselect"] [data-label="*"] {
	pointer-events: none;
}

.sample-editor .button-track > * {
	border-top:  1px transparent solid;
	border-left: 1px transparent solid;
}

.sample-editor .button-track > *:last-child {
	border-right: 1px transparent solid;
}

.sample-editor[data-select="multiselect"] .button-track > * {
	border-color: #AAA;
}

.sample-editor[data-select="multiselect"] .button-track > *:hover {
	background: white;
	filter: invert(1);
}

.sample-editor .row.status {
	user-select: none;
	justify-content: flex-end;
	font-size: 11pt;
}

.sample-editor .status button {
	font-weight: bold;
	border: none;
}

.sample-editor .status button:active {

}

.sample-editor .status button {
	font-weight: bold;
	border: none;
	margin-top: 1em;
	margin-left: 1em;
	width: 2.5em;
	height: 2.5em;
	box-sizing: border-box;
}

.sample-editor .status button {
	transition: opacity 0.25s ease-in-out;
	margin-right: 0;
	border: 1px solid white;
}

.sample-editor[data-changed=true] .status button {
	cursor: pointer;
}

.sample-editor[data-changed=false] .status button {
	pointer-events: none;
	border-color: white;
	background: black;
	filter: invert(1);
	opacity: 0.5;
}
